.app-container {
  min-height: 100vh;
  /* background-color removed to show body pattern */
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}